--step="all" 
--language="en"
--all_languages="0"
--timezone="Europe/Paris"
--base_uri="/"
--domain="localhost"
--db_server="localhost"
--db_user"root"
--db_password=""
--db_name="prestashop"
--db_clear="1"
--db_create="1"
--prefix="ps_"
--engine="InnoDB"
--name="PrestaShop"
--activity="0"
--country="fr"
--firstname="John"
--lastname="Doe"
--password="0123456789"
--email="pub@prestashop.com"
--license="0"
--newsletter="0"
--send_email="1"
